@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #111111;
    --bg2-color: #232323;
    --bg3-color: #373737;
    --blue-color: #6AECE1;
    --text-color: #fcf4d3;
    --gray-color: #a7a5a5;
    --border-color: #4f4f4f;
}

*::selection {
    color: var(--bg2-color);
    background-color: var(--blue-color);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-track {
    background-color: var(--gray-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: var(--bg-color);
    font-family: "Winky Rough", sans-serif;
}

.content-section.active {
    display: block;
}

.content-section {
    display: none;
    animation: moving .5s ease;
}


.container {
    margin: 60px 70px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.container .left-content {
    display: block;
    padding: 30px;
    background-color: var(--bg2-color);
    border: 1px solid var(--border-color);
    border-radius: 15px;
    width: 25%;
}

.container .left-content .me {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container .left-content .me img {
    width: 150px;
    background-color: var(--bg3-color);
    border-radius: 15px;
    margin: auto;
    margin-bottom: 30px;
    border: 1px solid var(--border-color);
    transition: all .3s ease;
}

.container .left-content .me img:hover {
    scale: 1.05;
}

.container .left-content .me h1 {
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.container .left-content .me h3 {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 13px;
    background-color: var(--bg3-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin: auto 40px;
    width: max-content;
    color: var(--text-color);
    margin-bottom: 10px;
    transition: all .3s ease;
}

.container .left-content .me h3:hover {
    scale: 1.05;
}

hr {
    border: none;
    background-color: var(--border-color);
    height: 1px;
    width: 100%;
    margin: 20px 0;
}

.container .info .box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container .info .box .icon {
    position: relative;
    background: var(--bg3-color);
    width: 44px;
    height: 44px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--blue-color);
    border: 1px solid var(--border-color);
    z-index: 1;
    margin: 14px 0;
    transition: all .3s ease;
}

.container .info .box .icon:hover {
    scale: 1.1;
}

.container .info .box .text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.container .info .box .text p {
    color: var(--gray-color);
    font-size: 14px;
}

.container .info .box .text h3 {
    color: var(--text-color);
    font-size: 19px;
    font-weight: 300;
}

.container .left-content .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 18px;
}

.container .left-content .social i {
    font-size: 23px;
    color: var(--gray-color);
    transition: all .3s ease-in-out;
}

.container .left-content .social i:hover {
    color: #fff;
    scale: 1.1;
}

.container .right-content {
    display: block;
    padding: 50px 30px;
    background-color: var(--bg2-color);
    border: 1px solid var(--border-color);
    border-radius: 15px;
    width: 75%;
    position: relative;
}

.container .right-content header {
    right: 0;
    top: 0;
    position: absolute;
}

.container .right-content header nav {
    padding: 19px;
    background-color: var(--bg3-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}

.container .right-content header nav a {
    font-size: 18px;
    margin: auto 25px;
    padding: auto 20px;
    color: var(--text-color);
    transition: all .3s ease-in-out;
}

.container .right-content header nav a:hover,
.container .right-content header nav a.active {
    color: var(--blue-color);
}

.container .right-content .me h1 {
    font-size: 30px;
    color: var(--text-color);
}

.container .right-content .me hr {
    width: 60px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--blue-color);
    margin: 0;
}

.container .right-content .me p {
    color: var(--text-color);
    font-size: 16px;
    margin: 20px auto;
    font-weight: 500;
}

.container .right-content .services h1 {
    font-size: 30px;
    color: var(--text-color);
}

.container .right-content .services hr {
    width: 60px;
    height: 5px;
    background-color: var(--blue-color);
    border-radius: 5px;
    margin: 0;
}

.container .right-content .services .boxs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px auto;
    gap: 20px;
}

.container .right-content .services .boxs .box {
    flex-basis: 45%;
    background-color: var(--bg3-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    /* box-shadow: -1px 4px 20px hsla(0, 0%, 100%, 0.438); */
    transition: all .3s ease;
}

.container .right-content .services .boxs .box:hover {
    scale: 1.05;
}

.container .right-content .services .boxs .box .icon i {
    color: var(--blue-color);
    font-size: 30px;
}

.container .right-content .services .boxs .box .content h3 {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 500;
}

.container .right-content .services .boxs .box .content p {
    color: var(--gray-color);
    font-size: 14px;
    font-weight: normal;
}

/* About End */

/* carrer Start */
.container .right-content .career .me hr {
    width: 40px;
}

.container .right-content .career .education .title {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0 10px;
}

.container .right-content .career .education .title i {
    color: var(--blue-color);
    background: var(--bg3-color);
    width: 44px;
    height: 44px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 1px solid var(--border-color);
    z-index: 1;
    margin: 14px 0;
    transition: all .3s ease;
}

.container .right-content .career .education .title i:hover {
    scale: 1.1;
}

.container .right-content .career .education .title h1 {
    font-size: 25px;
}

.container .right-content .career .education .boxs .box {
    display: flex;
    justify-content: left;
    gap: 20px;
    margin: 20px 0;
    position: relative;
}

.container .right-content .career .education .boxs .box i {
    width: 44px;
    font-size: 8px;
    color: var(--blue-color);
    padding-top: 10px;
    z-index: 1;
}

.container .right-content .career .education .boxs .box .text h3 {
    font-size: 20px;
    color: var(--text-color);
    padding-bottom: 5px;
}

.container .right-content .career .education .boxs .box .text h4 {
    color: var(--blue-color);
    font-size: 15px;
    font-weight: normal;
}

.container .right-content .career .education .boxs .box .text p {
    color: var(--gray-color);
    font-size: 14px;
    margin-top: 8px;
}

/* .container .right-content .career .education .boxs .box:first-child::before {
    content: '';
    position: absolute;
    top: -50px;
    height: 183px;
    width: 1px;
    margin: auto 21px;
    background-color: var(--border-color);
    z-index: 0;
} */

.container .right-content .career .skills .title {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0 10px;
}

.container .right-content .career .skills .title i {
    color: var(--blue-color);
    background: var(--bg3-color);
    width: 44px;
    height: 44px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 1px solid var(--border-color);
    z-index: 1;
    margin: 14px 0;
    transition: all .3s ease;
}

.container .right-content .career .skills .title i:hover {
    scale: 1.1;
}

.container .right-content .career .skills .title h1 {
    font-size: 25px;
}

.container .right-content .career .skills .box {
    background-color: var(--bg3-color);
    border: 1px solid var(--border-color);
    border-radius: 15px;
    width: 100%;
    height: auto;
    padding: 25px 18px;
}

.container .right-content .career .skills .box ul .skill-item:not(:last-child) {
    margin-bottom: 25px;
}

.container .right-content .career .skills .box .title {
    gap: 10px;
    margin: 0;
    margin-bottom: 10px;
}

.container .right-content .career .skills .box ul .skill-item .title h5 {
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
}

.container .right-content .career .skills .box ul .skill-item .title data {
    font-size: 15px;
    font-weight: 100;
    color: var(--blue-color);
}

.container .right-content .career .skills .box ul .skill-item .skill-progress {
    background-color: var(--border-color);
    width: 100%;
    height: 8px;
    border-radius: 10px;
}

.container .right-content .career .skills .box ul .skill-item .skill-progress .progress {
    height: 8px;
    background-color: var(--blue-color);
    border-radius: inherit;
}

/* carrer End */

footer {
    display: none;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        gap: 35px;
    }

    .container .left-content {
        width: 100%;
    }

    .container .right-content {
        width: 100%;
        margin-bottom: 40px;
    }

    .container .left-content .me {
        text-align: left;
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-items: center;
    }

    .container .left-content .me img {
        margin: 0;
    }

    .container .left-content .me h3 {
        margin: 0;
        text-align: center;
        width: max-content;
    }

    .container .left-content .social {
        justify-content: left;
    }

    .container .info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px 15px;
    }

    .container .right-content header nav {
        position: fixed;
        background: hsla(240, 1%, 17%, 0.75);
        width: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        border: none;
        border-radius: 15px 15px 0 0;
        box-shadow: 0 16px 30px hsla(0, 0%, 0%, 0.25);
        backdrop-filter: blur(10px);
        z-index: 10;
    }
}

@media (max-width: 800px) {
    .container .right-content .services .boxs .box {
        flex-basis: 100%;
        justify-content: left;
        gap: 20px;
    }

    .container .left-content .me {
        gap: 25px;
    }
}

@media (max-width: 700px) {
    .container .info {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media (max-width: 500px) {
    .container .left-content .me h1 {
        font-size: 20px;
    }

    .container .left-content .me img {
        width: 100px;
    }

    .container .left-content .me h3 {
        padding: 10px;
    }

    .container .right-content .me h1,
    .container .right-content .services h1 {
        font-size: 25px;
    }

    .container .right-content .me hr,
    .container .right-content .services hr {
        width: 40px;
    }

    .container .right-content .services .boxs .box .icon i {
        font-size: 24px;
    }

    .container .right-content .services .boxs .box .content h3 {
        font-size: 18px;
    }

    .container .right-content .career .education .boxs .box .text h3 {
        font-size: 17px;
    }

    footer nav a {
        font-size: 16px;
        margin: auto 18px;
    }
}

@media (max-width: 450px) {
    .container {
        margin: 10px 15px 40px;
    }
}




/* Animations */
@keyframes moving {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}